/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2021, 11:51:06 PM
    Author     : Admin
*/

.pagger a{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 2px;
    margin-left: 2px;
    color: green;
}

.pagger span{
    font-weight: bold;
    color: red;
}
